<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
  <title>Load transferred points from csv</title>
</head>
<body>
<nav>
  <ul class="menu-main">
    <li><a href="/sqlinfo">Home</a></li>
  </ul>
</nav>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
        <form method="post" th:action="@{/transferredpoints/import}" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" name="file" accept="file/*" class="form-control-file">
          </div>
          <button type="submit" class="btn btn-primary">Upload file</button>
        </form>
        <span th:if="${msg != null}" th:text="${msg}"></span>
      </div>
    </div>
  </div>
</section>
<p th:id="errorMessage" th:text="${errorMessage}"/>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</body>
</html>