<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>Create new transferred points</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<form th:method="POST" th:action="@{/transferredpoints}" th:object="${transferredpoints}">
    <label for="CheckingPeer">Enter peer nickname: </label>
    <input type="text" th:field="${transferredpoints.checkingPeer.nickname}" id="CheckingPeer"/>
    <br/>
    <label for="CheckedPeer">Enter peer nickname: </label>
    <input type="text" th:field="${transferredpoints.checkedPeer.nickname}" id="CheckedPeer"/>
    <br/>
    <label for="pointsAmount">Enter points amount: </label>
    <input type="text" th:field="*{pointsAmount}" id="pointsAmount"/>
    <div style="color: red" th:if="${#fields.hasErrors('pointsAmount')}" th:errors="*{pointsAmount}">...</div>
    <br/>
    <input type="submit" value="Create"/>
</form>
<p th:id="errorMessage" th:text="${errorMessage}"/>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</body>
</html>
