<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>About transferred points</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<p>Checking Peer: <a th:href="@{/peers/{nickname}(nickname=${transferredpoints.getCheckingPeer().getNickname()})}"
            th:text="${transferredpoints.getCheckingPeer().getNickname()}"/></p>
<p>Checked Peer: <a th:href="@{/peers/{nickname}(nickname=${transferredpoints.getCheckedPeer().getNickname()})}"
                     th:text="${transferredpoints.getCheckedPeer().getNickname()}"/></p>
<p th:text="${'Points Amount: ' + transferredpoints.getPointsAmount()}"/>
<hr>

<form th:method="DELETE" th:action="@{/transferredpoints/{id}(id=${transferredpoints.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:action="@{/transferredpoints/{id}/edit(id=${transferredpoints.getId()})}">
    <input type="submit" value="Edit" />
</form>

<p th:id="errorMessage" th:text="${errorMessage}"/>
</body>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</html>
