<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>Create new friend</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<form th:method="POST" th:action="@{/friends}" th:object="${friend}">
<label for="Peer1">Enter nickname peer1: </label>
<input type="text" th:field="${friend.peer1.nickname}" id="Peer1"/>
<br/>
<br/>
<label for="Peer2">Enter nickname peer2: </label>
<input type="text" th:field="${friend.peer2.nickname}" id="Peer2"/>

<br/>
<input type="submit" value="Create!"/>
</form>

<p th:id="errorMessage" th:text="${errorMessage}"/>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</body>
</html>