<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet" />
    <title>Edit check</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<form th:method="PATCH" th:action="@{/checks/{id}(id=${check.getId()})}" th:object="${check}">
    <label for="peer">Enter peer: </label>
    <input type="text" th:field="${check.peer.nickname}" id="peer"/>
    <br/>
    <label for="task">Enter task: </label>
    <input type="text" th:field="${check.task.title}" id="task"/>
    <br/>
    <label for="date">Enter date: </label>
    <input type="text" th:field="*{date}" id="date"/>
    <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">...</div>
    <br/>
    <input type="submit" value="Save"/>
</form>
<p th:id="errorMessage" th:text="${errorMessage}"/>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</body>
</html>