<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>About check</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<p>Peer: <a th:href="@{/peers/{nickname}(nickname=${check.getPeer().getNickname()})}"
              th:text="${check.getPeer().getNickname()}"/></p>
<p>Task: <a th:href="@{/tasks/{title}(title=${check.getTask().getTitle()})}"
            th:text="${check.getTask().getTitle()}"/></p>
<p th:text="${'Date: ' + #dates.format(check.getDate(), 'dd-MM-yyyy')}"/>
<hr>

<form th:method="DELETE" th:action="@{/checks/{id}(id=${check.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<form th:action="@{/checks/{id}/edit(id=${check.getId()})}">
    <input type="submit" value="Edit" />
</form>

<p th:id="errorMessage" th:text="${errorMessage}"/>
</body>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</html>
