<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>Setting parameters for user query</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
    <form th:method="POST" th:action="@{/userquery/execute}" th:object="${userQuery}">
        <h4>Your query: </h4>
        <input type="hidden" th:field="${userQuery.name}" id="name" readonly/>
        <textarea class="form-control" id="text" rows="10"
                  name="text"
                  placeholder="text" th:field="${userQuery.text}"
                  required="required"
                  readonly></textarea>
        <h4>Set parameters for your query here: </h4>
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <div th:each="pr, stat: *{parameters}">
                <tr>
                    <td th:text="${pr.key}"/>
                    <td><input type="text" name="value" th:field="*{parameters[__${pr.key}__]}"/></td>
                </tr>
            </div>
        </table>
        <input type="submit" value="Execute"/>
    </form>
</body>
</html>