<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <link th:href="@{/resources/static/style.css}" rel="stylesheet" />
</head>
<body>

<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>

<ul class="menu-data">
    <li><a href="/sqlinfo/checks">Checks</a></li>
    <li><a href="/sqlinfo/friends">Friends</a></li>
    <li><a href="/sqlinfo/p2p">P2P</a></li>
    <li><a href="/sqlinfo/peers">Peers</a></li>
    <li><a href="/sqlinfo/recommendations">Recommendations</a></li>
    <li><a href="/sqlinfo/tasks">Tasks</a></li>
    <li><a href="/sqlinfo/timetracking">TimeTracking</a></li>
    <li><a href="/sqlinfo/transferredpoints">Transferred Points</a></li>
    <li><a href="/sqlinfo/verter">Verter</a></li>
    <li><a href="/sqlinfo/xp">XP</a></li>
</ul>
</body>
</html>