<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>Create new timetracking</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<form th:method="POST" th:action="@{/timetracking}" th:object="${timetracking}">
    <label for="Peer">Enter peer nickname: </label>
    <input type="text" th:field="${timetracking.Peer.nickname}" id="Peer"/>
    <br/>
    <label for="date">Enter date: </label>
    <input type="text" th:field="*{date}" id="date"/>
    <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">...</div>
    <br/>
    <label for="time">Enter time: </label>
    <input type="text" th:field="*{time}" id="time"/>
    <br/>
    <label for="state">Enter state: </label>
    <input type="text" th:field="*{state}" id="state"/>
    <br/>
    <input type="submit" value="Create"/>
</form>
<p th:id="errorMessage" th:text="${errorMessage}"/>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</body>
</html>
