<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/resources/static/style.css}" rel="stylesheet"/>
    <title>Create new task</title>
</head>
<body>
<nav>
    <ul class="menu-main">
        <li><a href="/sqlinfo">Home</a></li>
    </ul>
</nav>
<form th:method="POST" th:action="@{/tasks}" th:object="${task}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">...</div>
    <br/>
    <label for="parentTask">Enter parent task: </label>
    <input type="text" th:field="*{parentTask}" id="parentTask"/>
    <div style="color: red" th:if="${#fields.hasErrors('parentTask')}" th:errors="*{parentTask}">...</div>
    <br/>
    <label for="maxXP">Enter maxXP: </label>
    <input type="text" th:field="*{maxXP}" id="maxXP"/>
    <div style="color: red" th:if="${#fields.hasErrors('maxXP')}" th:errors="*{maxXP}">...</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<p th:id="errorMessage" th:text="${errorMessage}"/>
<script type="text/javascript" th:src="@{/resources/static/ConfirmSubmit.js}"></script>
</script>
</body>
</html>